/* title */
.contentshead {
  margin-top: 80px;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.contentshead h2 {
  color: #111;
}

.section_2 {
  padding-bottom: 90px;
}

.section_inner {
  width: 1440px;
  margin: 0 auto;
}

.sec_title_1 {
  margin-bottom: 60px;
}

.sec_title_1 h3 {
  font-size: 32px;
  font-weight: 700;
}

.con_wrap_1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 42px;
}

.con_1 {
  width: calc((100% - 140px) / 3);
  height: 300px;
  padding: 42px;

  background-color: #eef2fc;
  border-radius: 24px;

  display: flex;
  flex-direction: column;

  transition: 0.3s;
}

.con_1:hover {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.con_1 h4 {
  height: 72px;

  margin-bottom: 24px;

  font-size: 25px;
  font-weight: 700;
  line-height: 1.4;

  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.con_1 p {
  margin-bottom: auto;

  color: #777;
  line-height: 1.7;

  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.con_1 span {
  font-size: 13px;
}

.GNB {
  margin-top: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 70px;
}

.Frame63 {
  display: flex;
  gap: 40px;
}

.Frame63 a {
  color: #999;
}

.Frame63 .active {
  color: #0000c9;
  position: relative;
}

.Frame63 .active::after {
  content: "";

  width: 16px;
  height: 2px;

  background-color: #0000c9;

  position: absolute;
  left: 50%;
  bottom: -8px;

  transform: translateX(-50%);
}
